@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background: black url('../images/photo-1543699539-33a389c5dcfe.avif') no-repeat center center/cover; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    opacity: 80%;
}

h1, h2, h3 {
    text-transform: none;
}
header {
    position: fixed;
    border-bottom: 1px solid beige;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(245, 245, 220,1);
}

#logo {
    letter-spacing: 2px;
    font-weight: 300;

}

nav {
    background-color: rgba(245, 245, 220,0.5);
    display: none;
    position: absolute;
    width: fit-content;
    right: 0%;
    top: 100%;
}

/* checkbox */
#nav-bar-toggle {
    display: none;
}

#nav-bar-toggle-label {
    font-size: 200%;
}

#nav-bar-toggle:checked~nav {
    display: block;
}


#menu {
    /* display: none; */
    text-align: right;
    left: 0%;
    list-style: none;
    letter-spacing: 2px;
}

#menu li {
    padding: 10px;
}

main { 
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    
}
#hero {
    background: white url('../images/freedom2.jpeg') no-repeat center center / cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: rgba(0,0,0, 0.8);
    color: beige;
    text-align: center;


}
#hero > h3 {
    font-size: 150%;
    margin-bottom: 40px;
    font-weight: 300;
    letter-spacing: 5px;
}
.button {
    display: inline-block;
    background-color: beige;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}


/* Reasons section */
#reasons-section {
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1rem;
    
}

#reasons-section > h3 {
    font-size: 200%;
    text-decoration: underline;
    align-self: center;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;
    
}

.reasons {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    border-radius: 8px;
    padding: 1rem;
}
.reasons h3 {
    line-height: 200%;
    text-align: center;
    font-weight: 300;
}

.reasons p {
    font-weight: 400;
}

.reasons i {
    font-size: 200%;
}

.reasons hr {
    border-bottom: 1px solid black;
}

/* Footer */
footer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid beige;
  
    background-color: rgba(255, 255, 255, 0.8);
}

footer > div {
    font-size: 150%;
    color: inherit;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 75%;
}

#social {
    padding-top: 10px;
}
footer a {
    color: inherit;
    
}

footer p {
    font-size: 40%;
}

/* Contact form page */
#contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem;
    padding: 1rem;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(206, 206, 206, 0.8);
}

#contact-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(185, 185, 185, 0.8);
    min-width: 100%
}

.text-input {
    background: transparent;
    border: 1px solid beige;
    margin: 0.5rem;
    border-color: rgba(200,200,200, 0.8);
    border-radius: 8px;
    width: 100%;
    color: beige;
}

#submit-button {
    background-color: rgba(0,0,0, 0.8);
    color: beige;
    border: 1px solid beige;
    border-radius: 8px;
    margin: 0.5rem;
    width: 100%;
}

#submit-button:hover {
    background-color: beige;
    color: black;
}

#submit-button:active {
    background-color: black;
    color: beige;
}


/* Details / what is Bitcoin? */

#article-header {
    font-size: 200%;
    text-decoration: underline;
    align-self: center;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;

}

#article-container {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.article > h3 {
    line-height: 200%;
    text-align: center;
    font-weight: 300;
}

.article > i {
    font-size: 200%;
}

.article {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    border-radius: 8px;
    padding: 1rem;
}


/* Gallery Page*/

#gallery-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0;
}

#gallery-container img {
    width: 100%;
    line-height: 1em;
    max-width: 400px;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}








@media screen and (min-width: 768px) {
    
    
    nav {
        position:relative;
        display: flex;
        align-items: center;
        
    }

    #nav-bar-toggle-label {
        display: none;
    }
    #menu {
        list-style: none;
        display:flex;
    }
    
    #menu li {
        padding: 10px;
    }

    #hero {
        min-height: 800px;
    }

    #hero > h3 {
        font-size: 300%;
    }

    /* #reasons-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } */
    .reasons {
        max-width: 350px;
        align-self:center;
    }
    /* #reasons-section h3 {
        order: 2;
    } */

    /* #reason1 {
        order:0;
    }
    #reason2 {
        order:1;
    }
    #reason3 {
        order:3;
    }
    #reason4 {
        order:4;
    } */



}