@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: black url('../images/photo-1543699539-33a389c5dcfe.avif') no-repeat center center/cover;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    color: beige;
}

a {
    text-decoration: none;
    color: beige;
}

a:hover {
    opacity: 80%;
}

h1, h2, h3 {
    text-transform: none;
}
header {
    position: fixed;
    border-radius: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(0,0,0, 0.8);
}

#logo {
    letter-spacing: 2px;

}

nav {
    display: none;
    position: absolute;
    border: 1px solid black;
    width: fit-content;
    right: 0%;
    top: 100%;
}

/* checkbox */
#nav-bar-toggle {
    display: none;
}

#nav-bar-toggle-label {
    font-size: 200%;
}

#nav-bar-toggle:checked~nav {
    display: block;
}


#menu {
    /* display: none; */
    text-align: right;
    left: 0%;
    list-style: none;
    letter-spacing: 2px;
    border: 1px solid black;
}

#menu li {
    padding: 10px;
}

main { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 4rem 2rem 1rem 2rem
    
}
#quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;   
}
#quote > h3 {
    font-size: 150%;
}
#what {
    min-height: 300px;
    background-color: rgba(0,0,0, 0.8);
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1rem;
    margin: 1rem;
}

#what > h3 {
    font-size: 200%;
}

#why {
    min-height: 300px;
    background-color: rgba(0,0,0, 0.8);
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3rem 1rem;
    align-items: flex-end;
    margin: 1rem;
    
}

#why > h3 {
    font-size: 200%;
}

footer { 
    display: flex;
    justify-content: center;
    border: 2px dashed beige;
    border-radius: 8px;
    background-color: rgba(0,0,0, 0.8);
}

footer > div {
    font-size: 200%;
    color: inherit;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    width: 75%;
  
}

footer a {
    color: inherit;
    
}





@media screen and (min-width: 768px) {
    
    
    nav {
        position:relative;
        display: flex;
        align-items: center;
        
    }

    #nav-bar-toggle-label {
        display: none;
    }
    #menu {
        list-style: none;
        display:flex;
        }
    
    #menu li {
        padding: 10px;
    }
}